/*
 * This file is part of Giphy.
 *
 * (c) Yrgo, högre yrkesutbildning Göteborg.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.footer__copyright {
  color: $color-grey;
  margin-bottom: 40px;
  text-align: center;
}
