/*
 * This file is part of Giphy.
 *
 * (c) Yrgo, högre yrkesutbildning Göteborg.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.gallery {
  margin-bottom: 20px;
}

.gallery__item {
  display: block;
  margin-bottom: 10px;
  border: none;
}

// TODO: Add hover effect for .gallery__item.
