/*
 * This file is part of Giphy.
 *
 * (c) Yrgo, högre yrkesutbildning Göteborg.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

body {
  background: $color-light;
}

img {
  width: 100%;
  display: block;
}

header, main, footer {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}
